<div class="modal fade" id="metricsModal" aria-labelledby="metricsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="metricsModalLabel">
          <span id="graph-container">
            <app-graph id="graph"></app-graph>
          </span>
          <span>{{getCurrentCity().name}}</span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="setIndex(0)"></button>
      </div>
      <div class="modal-body">
        <canvas *ngIf="getIsLoaded()" ngChartjs [datasets]="getLineChartData()" [labels]="getLineChartLables()"
          [options]="getLineChartOptions()" [chartType]="getLineChartType()">
        </canvas>
      </div>
      <div class="modal-footer">
        <div class="btn btn-outline-success" [class.disabled]="prevArrowShouldBeDisabled()" (click)="getPreviousWeek()"
          title="previous week">
          <app-left></app-left>
        </div>
        <span>{{(getCurrentIndex() + 1) + "/" + getDataLength()}}</span>
        <div class="btn btn-outline-success" [class.disabled]="nextArrowShouldBeDisabled()" (click)="getNextWeek()"
          title="next week">
          <app-right></app-right>
        </div>
      </div>
    </div>
  </div>
</div>
