.auth-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
