.content {
  display: flex;
  height: calc(100vh - 50px);
}

.map {
  flex: 2;
}

.sidebar {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
