.content {
  display: flex;
  height: calc(100vh - 50px);
}

.map {
  flex: 3;
}

.sidebar {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .map {
    flex: 2;
  }
}
