<div class="header">
  <nav>
    <div id="left-sidebar">
      <span *ngIf="isHomePage()">
        <span *ngIf="!loggedIn()" id="auth-buttons">
          <a routerLink="/auth/login">Login</a>
          <a routerLink="/auth/register">Register</a>
        </span>
        <span *ngIf="loggedIn()">
          <a routerLink="/" (click)="logout()">Logout</a>
        </span>
      </span>
      <a *ngIf="!isHomePage()" routerLink="/" routerLinkActive="true">Home</a>
    </div>
    <div id="right-sidebar">
      {{getUsername()}}
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
