.header {
  height: 50px;
  background-color: rgb(122, 132, 142);
}

nav {
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  align-items: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

#auth-buttons {
  width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
