#zoom-info {
    flex: 1;
    display: flex;
    justify-content: center;
}

#middle-sidebar {
    border: 1px solid #7a848e;
    border-radius: 0.5rem;
    padding: 0.5em;
    color: #7a848e;
}

.details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reset-map {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    max-height: 10em;
    box-shadow: 0px 0px 10px #7a848e;
    overflow-y: scroll;
    padding: 0;
}

.city-item-dropdown {
    padding: 0.4em;
    border-bottom: 1px solid #bcbcbc;
}

.city-item-dropdown:hover {
    box-shadow: 0px 0px 8px #7a848e;
    transition: box-shadow 0.2s ease-in-out;
  }

.filtered-cities-dropdown {
    width: 100%;
}

button {
    display: flex;
    align-items: center;
}