<div id="upper-sidebar">
  <!-- latitude and longitude -->
  <div class="input-group mb-3">
    <div class="form-floating">
      <input type="text" class="form-control border-secondary" id="floatingLatitude" placeholder="latitude"
        [(ngModel)]="controls.center.lat">
      <label for="floatingLatitude">latitude</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control border-secondary" id="floatingLongitude" placeholder="longitude"
        [(ngModel)]="controls.center.lng">
      <label for="floatingLongitude">longitude</label>
    </div>

    <button class="btn btn-outline-secondary" (click)="updateCenter(controls.center.lat, controls.center.lng)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg"
        viewBox="0 0 16 16">
        <path
          d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
      </svg>
    </button>
  </div>

  <!-- search by city name -->
  <div class="input-group mb-3">
    <div class="form-floating">
      <input type="text" class="form-control border-secondary dropdown-toggle" id="floatingCityName"
        data-bs-toggle="dropdown" aria-expanded="false" placeholder="City name" [value]="currentCity"
        (input)="handleCitiesDropDownList($event)" [disabled]="cities.length === 0">
      <label for="floatingCityName">City name</label>
      <ul class="filtered-cities-dropdown dropdown-menu dropdown-menu-end {{filteredCities.length === 0 && 'd-none'}}">
        <li class="city-item-dropdown" *ngFor="let city of filteredCities">
          <button class="dropdown-item" type="button" (click)="flyToCity(city)">{{ city }}</button>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-outline-secondary" (click)="goToCoords()" title="your location">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-crosshair"
        viewBox="0 0 16 16">
        <path
          d="M8.5.5a.5.5 0 0 0-1 0v.518A7 7 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7 7 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7 7 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7 7 0 0 0 8.5 1.018zm-6.48 7A6 6 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6 6 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6 6 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6 6 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1zM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
      </svg>
    </button>
  </div>

  <!-- reset -->
  <button class="btn btn-outline-secondary reset-map" (click)="resetMap()">
    <span>reset</span>
  </button>
  <hr>
</div>

<div id="lower-sidebar">
  <!-- zoom -->
  <div class="input-group">
    <button (click)="increaseZoom()" class="btn btn-outline-secondary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-in"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0" />
        <path
          d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z" />
        <path fill-rule="evenodd"
          d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5" />
      </svg>
    </button>
    <span id="zoom-info" class="input-group-text border-secondary text-secondary">
      <span>Zoom: {{controls.zoom}}</span>
    </span>
    <button (click)="decreaseZoom()" class="btn btn-outline-secondary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-out"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0" />
        <path
          d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z" />
        <path fill-rule="evenodd" d="M3 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
      </svg>
    </button>
  </div>
</div>
