.offcanvas {
  max-width: 80%;
}

.offcanvas-body {
  padding-top: 0;
  margin-bottom: 1em;
}

.controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
